@import 'tailwindcss';

@layer utilities{
    .heading{
        font-family: 'MullerNext', sans-serif;
        font-size: 2.5rem;
        font-weight: 750;
    }
    .subheading{
        font-family: 'MullerNext', sans-serif;
        font-size: clamp(1rem, 3vw, 1.5rem);
        font-weight: 400;
    }
    .muller-next{
        font-family: 'MullerNext', sans-serif;
    }
    .bg-shapes-r{
        background-image: url('../src/lib/assets/bg-shapes-r.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .bg-shapes-g{
        background-image: url('../src/lib/assets/bg-shapes-g.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .glassContainer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(255, 255, 255, 0.11);
        background-blend-mode: lighten;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }

    .center {
        right: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}

