@font-face {
    font-family: 'MullerNext';
    src: url("../src/lib/fonts/MullerNext-ExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 750;
    font-feature-settings: "ss01", "ss02";
}

@font-face {
    font-family: 'MullerNext';
    src: url("../src/lib/fonts/MullerNext-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
    font-feature-settings: "ss01", "ss02";

}

@font-face {
    font-family: 'MullerNext';
    src: url("../src/lib/fonts/MullerNext-Thin.ttf") format("truetype");
    font-style: normal;
    font-weight: 100;
    font-feature-settings: "ss01", "ss02";
}